.ant-picker-date-panel {
  align-items: center !important;
  width: 266px !important;
  border: 0.0625rem solid #000 !important;
}

.ant-picker-content {
  font-size: 12px !important;
  th {
    font-weight: bold !important;
  }
}

.ant-picker-header {
  padding: 0 !important;
  height: 30px !important;
  width: 240px !important;
  align-items: center !important;
  font-weight: bold !important;
  border-bottom: 0.0625rem solid #dcdcdc !important;
}

.ant-picker-footer {
  display: none !important;
}

.ant-picker-body {
  padding: 0 !important;
}

.ant-picker-panel-container {
  border-radius: 0 !important;
}
.ant-picker-cell {
  padding-top: 2px !important;
}
.ant-picker-cell-in-view {
  height: 24px !important;
  width: 24px !important;
}

.ant-picker-cell::before {
  display: none !important;
}

.ant-picker-cell-selected {
  .ant-picker-cell-inner {
    color: #fff !important;
    background: #000 !important;
  }
}
.ant-picker-cell-inner::before {
  border: 1px solid #000 !important;
}
