.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.ant-table-thead > tr > th {
  font-weight: bolder !important;
}

.heading {
  position: relative;
  margin: 1.5rem 0;

  ::before {
    display: none !important;
  }

  .twin-buttons {
    width: 33rem;
    background-color: #d9d9d9;
    border: 0.0625rem solid #000;
    border-radius: 0;
    color: #000;

    &:hover {
      background-color: gray;
      color: #000;
    }

    &:active {
      background-color: gray;
      color: #000;
      font-weight: bold;
    }
  }

  .button {
    margin: auto 0;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.5rem;
    width: 9rem;
    border-radius: 0;
    background-color: gray;
    border-color: gray;
    font-weight: bold;

    &:hover {
      // color: #000;
      background-color: #d9d9d9;
      border-color: #d9d9d9;
    }
  }
}

.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  font-size: 22px !important;
}

.ant-table {
  .ant-table-cell {
    padding: 0.5rem !important;
  }

  .ant-table-thead {
    tr {
      :first-child {
        border-start-start-radius: 0 !important;
      }

      :last-child {
        border-start-end-radius: 0 !important;
      }

      th {
        background-color: #fff !important;
        border-inline-end: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
      }
    }
  }

  .ant-table-tbody {
    tr:nth-child(2n) {
      background-color: #f1fbff !important;
    }

    tr > td {
      border-inline-end: 1px solid #000 !important;
      border-bottom: 1px solid #000 !important;
    }
  }
}
.ant-table-wrapper table {
  border-radius: 0 !important;
  border-color: #000 !important;
}
.ant-table-container {
  border-inline-start: 1px solid #000 !important;
}

.edit-delete {
  margin-left: 2rem;
  color: #000;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
    color: #000;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.ant-table-container {
  border-start-start-radius: 0 !important;
  border-start-end-radius: 0 !important;
}
